
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>snulion</title>
  </head>
  <body>
    <header style="width: 100%; background-color: mediumslateblue; color: white; text-align: left;">
      <div style="text-align: right;">
        {% if user.is_authenticated %}
             {{ user.get_username }}님, 안녕하세요
             {% comment %} 장고의 기본 user기능을 이용하기 때문에 그냥 url logout해도 자동으로 로그아웃 기능이 되는것! {% endcomment %}
             <a href="{% url 'logout'%}?next={{request.path}}">로그아웃</a>
        {% else %}
            {% comment %} 장고 user 템플릿 url에 signup이 없기때문에 urls.py에서 정의해줘야함! {% endcomment %}
             <a href="{% url 'signup' %}">회원가입</a>
             <a href="{% url 'login'%}?next={{request.path}}">로그인</a>
        {% endif %}
      </div>
      Snulion Feed Page
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
